@charset "UTF-8";
body {
  background-color: #f6fff6;
  font-family: 'Lato', sans-serif;
  color: #2D882D;
}

* {
  /* Esto sería el normalize de los navegadores*/
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 2px;
}

header {
  z-index: 2;
}

.PosicionHeader {
  position: fixed;
  background-color: #f6fff6;
  text-align: center;
}

.PosicionHeader .h1LogoImg {
  max-width: 200px;
  background-color: #f6fff6;
}

@media screen and (max-width: 900px) {
  .PosicionHeader .nav {
    display: none;
    width: 100vw;
    background-color: #2D882D;
  }
  .PosicionHeader .navbar-light {
    background-color: #2D882D;
    width: 100vw;
  }
  .PosicionHeader .navbar-light .navbar-nav .nav-link {
    color: #f6fff6;
  }
  .PosicionHeader .navbar-light .navbar-nav .nav-link:hover {
    color: #bbbbbb;
  }
  .PosicionHeader .navbar-light .navbar-nav .nav-link .active {
    color: #bbbbbb;
  }
  .PosicionHeader .navbar-light .navbar-brand {
    color: #f6fff6;
  }
  .PosicionHeader .navbar-light .navbar-brand:hover {
    color: #cccccc;
  }
}

@media screen and (min-width: 900px) {
  .PosicionHeader .navbar {
    display: none;
    width: 100vw;
    background-color: #2D882D;
  }
  .PosicionHeader .UlNav {
    background-color: #2D882D;
    width: 100vw;
    margin: 0;
  }
  .PosicionHeader .UlNav .LiNav {
    display: inline-block;
    list-style: none;
    width: 30vw;
  }
  .PosicionHeader .UlNav .LiNav .LiNavA {
    display: block;
    border: 5px solid #2D882D;
    text-decoration: none;
    color: #f6fff6;
    /*este display es para que el <a> ocupe todo el <Li>*/
  }
  .PosicionHeader .UlNav .LiNav .LiNavA:hover {
    background-color: #f6fff6;
    color: #2D882D;
    border: 5px solid  #C13038;
    border-radius: 2vw;
    text-decoration: none;
  }
}

.WhatsappLogo {
  display: inline;
  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
  left: 95vw;
  padding: 1rem;
  margin: 1rem;
  text-align: right;
}

.WhatsappLogo .ImgLogoWpp {
  height: 6vh;
}

.WhatsappLogo .ImgLogoWpp:hover {
  -webkit-transform: rotatex(20deg);
          transform: rotatex(20deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.IndexTopSection {
  max-height: 100vh;
  overflow: hidden;
}

.IndexTopSection .ImagenTopSection {
  margin-bottom: -3vh;
  min-height: 100vh;
  min-width: 100%;
  overflow: cover;
}

.IndexTopSection .TextTopSectionIndex {
  font-family: 'Bodoni Moda', serif;
  font-family: 'Newsreader', serif;
  font-size: 7vh;
  position: absolute;
  top: 80vh;
  left: 8vw;
  color: #2D882D;
  background-color: #f6fff6bb;
  border-radius: 20px;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .IndexTopSection .TextTopSectionIndex {
    font-size: 50px;
    top: 70vh;
    height: auto;
    max-width: 60vw;
  }
}

@media screen and (max-width: 630px) {
  .IndexTopSection .TextTopSectionIndex {
    font-size: 36px;
    top: 70vh;
    height: auto;
    max-width: 60vw;
  }
}

@media screen and (max-width: 500px) {
  .IndexTopSection .TextTopSectionIndex {
    font-size: 10px;
    top: 70vh;
    height: auto;
    max-width: 60vw;
  }
}

.SecondSectionIndex {
  min-height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../imagenes/FotoGanado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.SecondSectionIndex .ArticleSecSectInd {
  /*Esta clase corresponde a ambos articles que se 
        encuentran dentro de la second section del index*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2D882D;
  background-color: #f6fff6cc;
  border-radius: 10px;
  margin: 7vh;
  padding: 3vw;
  min-width: 30rem;
  max-width: 33rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.SecondSectionIndex .ArticleSecSectInd:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.SecondSectionIndex .ArticleSecSectInd .h2SectionIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.SecondSectionIndex .ArticleSecSectInd .PSecSectIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .SecondSectionIndex .ArticleSecSectInd {
    min-width: 80%;
    padding: 3vw;
  }
  .SecondSectionIndex .ArticleSecSectInd:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .SecondSectionIndex .ArticleSecSectInd .PSecSectIndex {
    text-align: center;
    font-size: 15px;
  }
}

.Sect3--Index {
  height: 80vh;
  padding: 3rem;
  background-image: url(../imagenes/alambrado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Sect3--Index .Sect3--Div_Titulo {
  text-align: center;
  margin: auto;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5vw;
  width: 50vw;
}

.Sect3--Index .Sect3--Div_Titulo .Sect3--Div_Titulo_h2 {
  background-color: #f6fff6cc;
  color: #2D882D;
  width: 30vw;
  margin: auto;
  border-radius: 15vh;
  text-align: center;
}

.Sect3--Index .Sect3--Div_Map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60vh;
}

.Sect3--Index .Sect3--Div_Map .Div_Map--Mapa {
  width: 40vw;
  height: 40vh;
}

.Sect3--Index .Sect3--Div_Map .Div_Map--Mapa .IframeMapa {
  width: 40vw;
  height: 40vh;
  overflow: scroll;
}

.Sect3--Index .Sect3--Div_Map .Div_Map--Parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 40vh;
  padding: 1rem;
  background-color: #f6fff6cb;
  text-align: left;
}

.Campos--Productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 7vh;
}

.Campos--Productos .Div--Producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 10rem;
  height: 15rem;
  border: 1.5px solid #2D882D;
  background-color: #ffffff;
  margin: 2.5vw;
  padding: .5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Campos--Productos .Div--Producto .Div--Producto_Img {
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  margin: auto;
  opacity: .9;
}

.Campos--Productos .Div--Producto .Div--Producto_Img:hover {
  opacity: 1;
}

.Campos--Productos .Div--Producto .Div--Producto_Img .Div--Producto_Img_ {
  width: 9rem;
  overflow: hidden;
}

.Campos--Productos .Div--Producto .Div--Producto_Name {
  margin: auto;
  font-size: 20px;
}

.Campos--Productos .Div--Producto .Div--Producto_Desc {
  margin: auto;
}

.Campos--Productos .Div--Producto .Div--Producto_But {
  width: 7rem;
  margin: auto;
  border: 1px solid #2D882D;
  background-color: #2D882D;
  color: #f6fff6;
}

.Campos--Productos .Div--Producto .Div--Producto_But:hover {
  border: 1px solid  #003200;
  background-color: #003200;
}

.Campos--Productos .Div--Producto .Div--Producto_But .Div--Producto_But_A {
  color: inherit;
  text-decoration: none;
}

.proximamente--Sect {
  padding: 10vw;
  min-height: 70vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.proximamente--Sect .prox--Titulo {
  font-size: 10vh;
  display: block;
  text-align: center;
}

.proximamente--Sect .prox--Parrafo {
  font-size: 5vh;
  display: block;
  text-align: center;
}

.Footer {
  background-color: #2D882D;
  color: #f6fff6;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "PrimeraColumnaF SegundaColumnaF";
}

.Footer .ColumnasFooter {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: "TituloColumnaF" "UlFooter";
}

.Footer .ColumnasFooter .TituloColumnaF {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: TituloColumnaF;
}

.Footer .ColumnasFooter .UlFooter {
  list-style: none;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: UlFooter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Footer .ColumnasFooter .UlFooter .ItemListaFooter {
  grid-area: ItemListaFooter;
}

.Footer .PrimeraColumnaF {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: PrimeraColumnaF;
  color: #f6fff6;
}

.Footer .SegundaColumnaF {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: SegundaColumnaF;
}

@media screen and (max-width: 450px) {
  .Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100vw;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
  }
  .Footer .ColumnasFooter {
    border-bottom: 1px solid #2D882D;
    padding-top: 3vh;
  }
  .Footer .ColumnasFooter .TituloColumnaF {
    text-align: center;
  }
}

footer a {
  color: #f6fff6;
  text-decoration: none;
}

footer a:hover {
  color: #d4ddd4;
  border: 1px dotted #f6fff6;
  border-radius: 15px;
}
