@charset "UTF-8";
body {
  background-color: #f6fff6;
  font-family: 'Lato', sans-serif;
  color: #2D882D;
}

* {
  /* Esto sería el normalize de los navegadores*/
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 2px;
}

header {
  z-index: 2;
}

.PosicionHeader {
  position: fixed;
  background-color: #f6fff6;
  text-align: center;
}

.PosicionHeader .h1LogoImg {
  max-width: 200px;
  background-color: #f6fff6;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

.PosicionHeader .h1LogoImg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .PosicionHeader .nav {
    display: none;
    width: 100vw;
    background-color: #2D882D;
  }
  .PosicionHeader .navbar-light {
    background-color: #2D882D;
    width: 100vw;
  }
  .PosicionHeader .navbar-light .navbar-nav .nav-link {
    color: #f6fff6;
  }
  .PosicionHeader .navbar-light .navbar-nav .nav-link:hover {
    color: #bbbbbb;
  }
  .PosicionHeader .navbar-light .navbar-nav .nav-link .active {
    color: #bbbbbb;
  }
  .PosicionHeader .navbar-light .navbar-brand {
    color: #f6fff6;
  }
  .PosicionHeader .navbar-light .navbar-brand:hover {
    color: #cccccc;
  }
}

@media screen and (max-width: 400px) {
  .PosicionHeader .navbar-brand {
    font-size: 13px;
  }
}

@media screen and (min-width: 900px) {
  .PosicionHeader .navbar {
    display: none;
    width: 100vw;
    background-color: #2D882D;
  }
  .PosicionHeader .UlNav {
    background-color: #2D882D;
    width: 100vw;
    margin: 0;
  }
  .PosicionHeader .UlNav .LiNav {
    display: inline-block;
    list-style: none;
    width: 30vw;
  }
  .PosicionHeader .UlNav .LiNav .LiNavA {
    display: block;
    border: 5px solid #2D882D;
    text-decoration: none;
    border-radius: 2vw;
    color: #f6fff6;
    -webkit-transition: color 2s;
    transition: color 2s;
    -webkit-transition: border 2s;
    transition: border 2s;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
    /*este display es para que el <a> ocupe todo el <Li>*/
  }
  .PosicionHeader .UlNav .LiNav .LiNavA:hover {
    background-color: #f6fff6;
    color: #2D882D;
    border: 5px solid #C13038;
    text-decoration: none;
  }
}

.WhatsappLogo {
  display: inline;
  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
  left: 95vw;
  padding: 1rem;
  margin: 1rem;
  text-align: right;
}

.WhatsappLogo .ImgLogoWpp {
  height: 6vh;
}

.WhatsappLogo .ImgLogoWpp:hover {
  -webkit-transform: rotatex(20deg);
          transform: rotatex(20deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.IndexTopSection {
  max-height: 100vh;
  overflow: hidden;
}

.IndexTopSection .ImagenTopSection {
  margin-bottom: -3vh;
  min-height: 100vh;
  min-width: 100%;
  overflow: cover;
}

.IndexTopSection .TextTopSectionIndex {
  font-family: 'Bodoni Moda', serif;
  font-family: 'Newsreader', serif;
  font-size: 7vh;
  position: absolute;
  top: 70vh;
  left: 8vw;
  color: #2D882D;
  background-color: #f6fff6bb;
  border-radius: 20px;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .IndexTopSection .TextTopSectionIndex {
    font-size: 50px;
    height: auto;
    max-width: 60vw;
  }
}

@media screen and (max-width: 630px) {
  .IndexTopSection .TextTopSectionIndex {
    font-size: 36px;
    top: 70vh;
    height: auto;
    max-width: 60vw;
  }
}

@media screen and (max-width: 500px) {
  .IndexTopSection .TextTopSectionIndex {
    font-size: 22px;
    top: 70vh;
    height: auto;
    max-width: 60vw;
  }
}

.SecondSectionIndex {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../imagenes/FotoGanado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.SecondSectionIndex .ArticleSecSectInd {
  /*Esta clase corresponde a ambos articles que se 
        encuentran dentro de la second section del index*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2D882D;
  background-color: #f6fff6cc;
  border-radius: 10px;
  padding: 3vw;
  width: 28rem;
  height: 60vh;
  margin: auto;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  font-size: 13px;
}

.SecondSectionIndex .ArticleSecSectInd:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.SecondSectionIndex .ArticleSecSectInd .h2SectionIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.SecondSectionIndex .ArticleSecSectInd .PSecSectIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .SecondSectionIndex .ArticleSecSectInd {
    height: 50vh;
  }
}

@media screen and (max-width: 950px) {
  .SecondSectionIndex .ArticleSecSectInd {
    margin: 3vw;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .SecondSectionIndex .ArticleSecSectInd {
    width: 75%;
    padding: 3vw;
    height: auto;
  }
  .SecondSectionIndex .ArticleSecSectInd:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .SecondSectionIndex .ArticleSecSectInd .PSecSectIndex {
    text-align: center;
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .SecondSectionIndex .ArticleSecSectInd {
    max-width: none;
    width: 80vw;
    height: auto;
  }
  .SecondSectionIndex .ArticleSecSectInd:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.Sect3--Index {
  min-height: 80vh;
  background-image: url(../imagenes/alambrado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5vh;
}

.Sect3--Index .Sect3--Div_Titulo {
  margin: auto;
  text-align: center;
  height: 10vh;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  background-color: #f6fff6cc;
  width: 50vw;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.Sect3--Index .Sect3--Div_Titulo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.Sect3--Index .Sect3--Div_Titulo .Sect3--Div_Titulo_h2 {
  color: #2D882D;
  width: 40vw;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .Sect3--Index .Sect3--Div_Titulo {
    width: 30rem;
  }
  .Sect3--Index .Sect3--Div_Titulo .Sect3--Div_Titulo_h2 {
    width: 25rem;
  }
}

@media screen and (max-width: 500px) {
  .Sect3--Index .Sect3--Div_Titulo {
    width: 90vw;
  }
  .Sect3--Index .Sect3--Div_Titulo:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .Sect3--Index .Sect3--Div_Titulo .Sect3--Div_Titulo_h2 {
    width: 80vw;
  }
}

.Sect3--Index .Sect3--Div_Map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Sect3--Index .Sect3--Div_Map .Div_Map--Mapa {
  width: 25rem;
}

@media screen and (max-width: 935px) {
  .Sect3--Index .Sect3--Div_Map .Div_Map--Mapa {
    width: 30rem;
  }
}

@media screen and (max-width: 550px) {
  .Sect3--Index .Sect3--Div_Map .Div_Map--Mapa {
    width: 90vw;
  }
}

.Sect3--Index .Sect3--Div_Map .Div_Map--Mapa .IframeMapa {
  height: 25rem;
  overflow: scroll;
  border-radius: 15px;
  width: 25rem;
}

@media screen and (max-width: 935px) {
  .Sect3--Index .Sect3--Div_Map .Div_Map--Mapa .IframeMapa {
    width: 30rem;
  }
}

@media screen and (max-width: 550px) {
  .Sect3--Index .Sect3--Div_Map .Div_Map--Mapa .IframeMapa {
    width: 90vw;
  }
}

.Sect3--Index .Sect3--Div_Map .Div_Map--Parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25rem;
  height: 25rem;
  padding: 1rem;
  background-color: #f6fff6cb;
  text-align: left;
  border-radius: 15px;
}

@media screen and (max-width: 935px) {
  .Sect3--Index .Sect3--Div_Map .Div_Map--Parrafo {
    margin-top: 2rem;
    width: 30rem;
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  .Sect3--Index .Sect3--Div_Map .Div_Map--Parrafo {
    height: auto;
    width: 90vw;
  }
}

.MainCamposDisponibles {
  padding-top: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.MainCamposDisponibles .Campos--Productos {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 10rem;
  height: 15rem;
  border: 1.5px solid #2D882D;
  background-color: #ffffff;
  margin: 2.5vw;
  padding: .5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto .Div--Producto_Img {
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  margin: auto;
  opacity: .9;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto .Div--Producto_Img:hover {
  opacity: 1;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto .Div--Producto_Img .Div--Producto_Img_ {
  width: 9rem;
  overflow: hidden;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto .Div--Producto_Name {
  margin: auto;
  font-size: 20px;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto .Div--Producto_Desc {
  margin: auto;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto .Div--Producto_But {
  width: 7rem;
  margin: auto;
  border: 1px solid #2D882D;
  background-color: #2D882D;
  color: #f6fff6;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto .Div--Producto_But:hover {
  border: 1px solid  #003200;
  background-color: #003200;
}

.MainCamposDisponibles .Campos--Productos .Div--Producto .Div--Producto_But .Div--Producto_But_A {
  color: inherit;
  text-decoration: none;
}

.Main--Proximamente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  min-height: 60vh;
}

.Main--Proximamente .proximamente--Sect {
  /*este formato aplica tanto para el archivo proximamente, como para 404 error*/
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding-top: 20vh;
  padding-bottom: 15vh;
  width: 70%;
  background-color: #2D882D;
  color: #f6fff6;
  border-radius: 20px;
}

.Main--Proximamente .proximamente--Sect .prox--Titulo {
  font-size: 2em;
  display: block;
  text-align: center;
}

.Main--Proximamente .proximamente--Sect .prox--Parrafo {
  font-size: 1em;
  display: block;
  text-align: center;
}

.MainContacto {
  min-height: 80vh;
  padding-top: 20vh;
  background-image: url(../imagenes/background-image_contacto.jpg);
  background-repeat: no-repeat;
  background-size: 150rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .MainContacto {
    padding-top: 25vh;
  }
}

@media screen and (max-width: 550px) {
  .MainContacto {
    padding-top: 30vh;
  }
}

.MainContacto .SectionForm {
  margin: auto;
}

.MainContacto .SectionForm .Form {
  width: 50rem;
  padding-bottom: 10vh;
}

.MainContacto .SectionForm .Form .FieldsetContacto {
  border-color: #58AB2B;
  background-color: #f6fff6cc;
  max-width: 50rem;
  overflow: auto;
  border-radius: 15px;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto {
  min-height: 70vh;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr  0.5fr 2fr 0.5fr 0.5fr;
      grid-template-rows: 1fr 1fr 1fr  0.5fr 2fr 0.5fr 0.5fr;
      grid-template-areas: "TituloFormulario TituloFormulario TituloFormulario" "InputEmail InputEmail InputEmail" "InputNombre InputApellido InputTelefono" "InputProvincia InputProvincia InputProvincia" "InputComentarios InputComentarios InputComentarios" "InputTerminosYCondiciones InputTerminosYCondiciones InputTerminosYCondiciones" "InputButtons InputButtons InputButtons";
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivTituloFormulario {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: TituloFormulario;
  margin: 0.2rem;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivTituloFormulario .TituloFormulario {
  text-align: center;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputEmail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: InputEmail;
  margin: 0.2rem;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputEmail .DivUnputEmail--Input {
  width: 101%;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputNombre {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: InputNombre;
  margin: 0.2rem;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputNombre .DivInputNombre--Input {
  width: 101%;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputApellido {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: InputApellido;
  margin: 0.2rem;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputApellido .DivInputApellido--Input {
  width: 101%;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputTelefono {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: InputTelefono;
  margin: 0.2rem;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputTelefono .DivInputTelefono--Input {
  width: 101%;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputProvincia {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: InputProvincia;
  margin: 0.2rem;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputComentarios {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: InputComentarios;
  margin: 0.2rem;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputComentarios {
  width: 90%;
  min-height: 15vh;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputComentarios .DivInputComentarios--Input {
  width: 101%;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputTerminosYCondiciones {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: InputTerminosYCondiciones;
  margin: 0.2rem;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputButtons {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: InputButtons;
  margin: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputButtons .DivInputButtons-bt {
  background-color: #2D882D;
  border: 1px solid #2D882D;
  color: #f6fff6;
  width: 20vw;
  border-radius: 5px;
}

.MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputButtons .DivInputButtons-bt :hover {
  color: #2D882D;
  background-color: #f6fff6;
  border: 1px solid #f6fff6;
}

@media screen and (max-width: 850px) {
  .MainContacto .SectionForm .Form {
    width: 30rem;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto {
    max-width: 30rem;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto {
    min-height: 70vh;
    padding: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputEmail .DivUnputEmail--Input {
    width: 65%;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputNombre .DivInputNombre--Input {
    width: 58%;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputApellido .DivInputApellido--Input {
    width: 58%;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputTelefono .DivInputTelefono--Input {
    width: 58%;
  }
}

@media screen and (max-width: 550px) {
  .MainContacto .SectionForm .Form {
    width: 90vw;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto {
    max-width: 95vw;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto {
    min-height: 70vh;
    padding: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputEmail .DivUnputEmail--Input {
    width: 101%;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputNombre .DivInputNombre--Input {
    width: 101%;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputApellido .DivInputApellido--Input {
    width: 101%;
  }
  .MainContacto .SectionForm .Form .FieldsetContacto .FormFieldsetDivContacto .DivInputTelefono .DivInputTelefono--Input {
    width: 101%;
  }
}

.Footer {
  min-height: 25vh;
  background-color: #2D882D;
  color: #f6fff6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.Footer .Footer--Columnas {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300px;
  padding: 5vw;
  text-align: center;
  background-color: #2a602a;
  border-radius: 15px;
}

@media screen and (max-width: 680px) {
  .Footer .Footer--Columnas {
    width: 450px;
    margin-top: 5vh;
  }
}

@media screen and (max-width: 500px) {
  .Footer .Footer--Columnas {
    width: 90vw;
    margin-top: 5vh;
  }
}

.Footer .Footer--Columnas .Footer--Columnas_A {
  color: #97a897;
  text-decoration: none;
  width: 70%;
  margin: auto;
  color: #d4ddd4;
  border: 1px solid #2a602a;
  border-radius: 15px;
  -webkit-transition: border 1s;
  transition: border 1s;
}

@media screen and (min-width: 700px) {
  .Footer .Footer--Columnas .Footer--Columnas_A {
    width: 90%;
  }
}

.Footer .Footer--Columnas .Footer--Columnas_A:hover {
  color: #d4ddd4;
  border: 1px dotted #f6fff6;
  border-radius: 15px;
}

.Footer .Footer--Last, .Footer .Footer--Last-ConMg {
  width: 100vw;
  background-color: #C13038;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 7vh;
}

.Footer .Footer--Last .Footer-Last_Parrafo, .Footer .Footer--Last-ConMg .Footer-Last_Parrafo {
  margin: auto;
}

@media screen and (min-width: 663px) {
  .Footer .Footer--Last, .Footer .Footer--Last-ConMg {
    margin-bottom: 25px;
  }
}

.Footer .Footer--Last-ConMg {
  margin-top: 50px;
  margin-bottom: 0;
}
