.IndexTopSection{
	max-height: 100vh;
	overflow: hidden;



    .ImagenTopSection{
        

        margin-bottom: -3vh;
        min-height: 100vh;
        min-width: 100%;
        overflow: cover;
        

    }

    .TextTopSectionIndex{
        font-family: 'Bodoni Moda', serif;
        font-family: 'Newsreader', serif;
        font-size: 7vh;
        position: absolute;
        top: 80vh;
        left: 8vw;
        color: $Color-DG;
        background-color: #f6fff6bb;
        border-radius:20px ;
        padding: 20px;;
        
    }
    @media screen and (max-width: 800px){
        .TextTopSectionIndex{
            font-size: 50px;
            top: 70vh;
            height: auto;
            max-width: 60vw;
        }
    }
    @media screen and (max-width: 630px){
        .TextTopSectionIndex{
            font-size: 36px;
            top: 70vh;
            height: auto;
            max-width: 60vw;
        }
    }
    @media screen and (max-width: 500px){
        .TextTopSectionIndex{
            font-size: 10px;
            top: 70vh;
            height: auto;
            max-width: 60vw;
        }
    }
}

.SecondSectionIndex{
	min-height: 87vh;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	background-image: url(../imagenes/FotoGanado.jpg);
	background-repeat: no-repeat;
	background-size:cover;
    .ArticleSecSectInd{
        /*Esta clase corresponde a ambos articles que se 
        encuentran dentro de la second section del index*/
        
        box-sizing: border-box;
        color:$Color-DG;
        background-color: #f6fff6cc;
        border-radius: 10px;
        margin: 7vh;
        padding: 3vw;
    
        min-width: 30rem;
        max-width: 33rem;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: transform .5s;


        &:hover{

            
            transform: scale(1.1);
        
        }


        .h2SectionIndex{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align:center;
            font-size: 2rem;
        
        }
        .PSecSectIndex{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align:justify;
        }
        
        
        

    
    }
    @media screen and (max-width: 600px){	
        .ArticleSecSectInd{
            min-width: 80%;
            padding: 3vw;
            &:hover{
               transform: scale(1);
            }
             
            
            
            .PSecSectIndex{
                text-align: center;
                font-size: 15px;
          }
            
        }
        
    
            
    }
    
}

.Sect3--Index{
    
    height: 80vh;
    padding:3rem;
    background-image: url(../imagenes/alambrado.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    
    
    
    .Sect3--Div_Titulo{
        text-align:center;
        margin: auto;
        height: 20vh;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        padding: 5vw;
        width: 50vw;
        .Sect3--Div_Titulo_h2{
            
            background-color: #f6fff6cc ;
            color: $Color-DG;
            width: 30vw;
            margin: auto;
            border-radius: 15vh;
            text-align: center;
            
            

            
        }
        
            
            
            
            

            
    }
       
    .Sect3--Div_Map{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        height: 60vh;

        .Div_Map--Mapa{
            width:40vw;
            height:40vh;
            
           
           .IframeMapa{
               width: 40vw;
               height: 40vh;
               overflow: scroll;
           }
            
            
        }
        .Div_Map--Parrafo{
            
            display: flex;
            width:40vw;
            height:40vh;
            padding: 1rem;
            
            background-color: #f6fff6cb;
            text-align: left;
            
        }
        
    }
    



}


