.proximamente--Sect{
    padding: 10vw;
    min-height: 70vh;
    padding-top:15vh;
    padding-bottom:15vh;
    .prox--Titulo{
        font-size: 10vh;
        display: block;
        text-align: center;
    }
    .prox--Parrafo{
        font-size: 5vh;
        display: block;
        text-align: center;
    }
    

    
}
    







