$Color-LG: #f6fff6;
$Color-DG:#2D882D;
$Color-Red:#C13038;


body{
    background-color: $Color-LG;
    font-family: 'Lato', sans-serif;
        color: $Color-DG;
}

*{
/* Esto sería el normalize de los navegadores*/

margin: 0;
padding: 0;
font-weight:normal;
line-height: 1.5;
letter-spacing: 2px;

}
@import "header";

.WhatsappLogo{
	display: inline;
    position: sticky;
    top: 90vh;
    left: 95vw;
    padding: 1rem;
    margin: 1rem;
    text-align: right;
    
    .ImgLogoWpp{
        height: 6vh;
        &:hover{
            transform:rotatex(20deg);
            transition: transform .5s;
        }
        
    }
    
    
}

@import "Index";

@import "campos";

@import "proximamente";

@import "formulario";

@import "footer";

