/*COLOR LIGHT GREEN (CASI BLANCO)*/
$Color-LG: #f6fff6;
/*COLOR DARK GREEN (NIVEL 1)*/
$Color-DG:#2D882D;
/*COLOR DARK GREEN (NIVEL 2)*/
$Color-DG2:#053505;
/*COLOR ROJO INTENSO (Hover del Nav+Footer)*/
$Color-Red:#C13038;



body{
    background-color: $Color-LG;
    font-family: 'Lato', sans-serif;
        color: $Color-DG;
}

*{
/* Esto sería el normalize de los navegadores*/

margin: 0;
padding: 0;
font-weight:normal;
line-height: 1.5;
letter-spacing: 2px;

}

@keyframes LOGO-REPEAT{
    0%{
        opacity: 1;
    }
    
    
    45%{
        opacity: 0;
    }
    55%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

    
}


.LogoRepeat{
    display: flex;
    position: absolute;
    
    width: 100vw;
    height: 100vh;

    
    animation-name: LOGO-REPEAT;
    transition-timing-function: linear;
    animation-iteration-count:infinite;
    animation-duration: 5s;

    .LogoRepeat--Img{
        max-width: 50vw;
        max-height: 50vw;
        margin: auto;
    }
}


@import "header";

/*Esto importa todas las secciones del css, dividio en un scss para cada html, y asi obtener un codigo más facil de encontrar!!*/
@import "Index";

@import "campos";

@import "proximamente";

@import "formulario";

@import "footer";

